@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.projects-container{
    width: 100%;
    margin-top: 7%;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #3487ff;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.projects{
    margin-top: 3%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 100px;
}
.card-active{
    width: 500px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 30, 30);
    height: 350px;
    transition: all 0.4s;
}
.card-active:hover{
    transform: scale(1.03);
    box-shadow: 0px 5px 2px #3489ffa7;
}

.card-active span{
    font-size: 25px;
    margin-top: 5px;
    color: #fff;
}

.card-active span:nth-child(3){
    font-size: 15px;
    font-weight: normal;
    color: #756c6c;
}
.links{
    display: flex;
    gap: 20px;
    margin-top: 10px;
    font-size: 20px;
}
.links button {
    color: #fff;
    background-color: #000000;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    border: 1px ridge #3489ffa7;
}
.links button:hover{
    background-image: linear-gradient(180deg, #000 50%, #3489ffa7);
}
.links button a {
    color: #fff;
}
.img-project{
    width: 400px;
    height: 200px;
    filter: brightness(50%);
}
.loja-fulano{
    width: 500px;
    height: 350px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 30, 30);
    transition: all 0.4s;
}
.loja-fulano:hover{
    transform: scale(1.03);
    box-shadow: 0px 5px 2px #3489ffa7;
}
.loja-fulano span{
    font-size: 25px;
    margin-top: 5px;
    color: #fff;
}

.loja-fulano span:nth-child(3){
    font-size: 15px;
    font-weight: normal;
    color: #756c6c;
}
.soon{
    width: 500px;
    background-color: rgb(209, 195, 195);
    height: 350px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.soon p{
    transform: rotate(-25deg);
    font-size: 45px;
    color: #a22525;
}

/* MEDIA QUERIES */ 
/*    MENOR WIDTH = 360PX      MENOR HEIGHT = 667PX */
@media (width <= 420px) and (height < 920px) {
    .projects-container{
        font-size: 22px;
        margin-top: 20%;
    }
    .projects{
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .card-active{
        width: 90vw;
        
    }
    .card-active span{
        bottom: 0%;
        right: 0%;
    }
    .card-active span:nth-child(3){
        font-size: 20px;
    }
    .loja-fulano{
        width: 90vw;
    }
    .loja-fulano span{
        bottom: 0%;
        right: 0%;
    }
    .img-project{
        width: 100%;
        height: auto;
        filter: none;
    }
    .soon{
        width: 90vw;
        height: 200px;
    }
    .soon p{
        font-size: 30px;
    }

    .links button {
        color: #fff;
        background-color: #000000;
        width: 130px;
        height: 40px;
        border-radius: 5px;
        font-size: 15px;
        border: 1px ridge #3489ffa7;
    }
}

/* -- TABLETS -- */
@media (width <= 1100px) 
and (height >= 1000px ) {
    .projects-container{
        font-size: 32px;
        margin-top: 10%;
        height: 2600px;
    }
    .projects{
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 300px;
    }
    .card-active{
        width: 90vw;
        height: 200px;
    }
    .card-active span{
        bottom: 0%;
        right: 0%;
    }
    .card-active span:nth-child(3){
        font-size: 20px;
    }
    .loja-fulano{
        width: 90vw;
        height: 200px;
    }
    .loja-fulano span{
        bottom: 0%;
        right: 0%;
    }
    .loja-fulano span:nth-child(3){
        font-size: 20px;
    }
    .img-project{
        width: 100%;
        height: auto;
        filter: none;
    }
    .soon{
        margin-bottom: -150px;
        width: 90vw;
        height: 200px;
    }
    .soon p{
        font-size: 30px;
    }
}