@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.contact-container{
    width: 100vw;
    display: flex;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #3487ff;
    font-size: 32px;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.container-center{
    width: 800px;
    margin-top: 10%;
    flex-direction: column;
    display: flex;
}
h1{
    color: #fff;
    margin-top: 20%;
    margin-bottom: 20%;
}

.container-center label {
    font-size: 22px;
    margin-bottom: 10px;
    color: #ffffff;
    justify-content: flex-start;
    display: flex;
}

input{
    margin-bottom: 30px;
    height: 55px;
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid#3487ff;
    background-color: #232222;
    font-family: 'Montserrat';
    font-weight: normal;
    color: #fff;
}

 textarea{
    font-size: 18px;
    width: 100%;
    height: 150px;
    max-height: 200px;
    min-height: 100px;
    border-radius: 10px;
    border: 2px solid#3487ff;
    background-color: #232222;
    color: #fff;
    padding: 10px;
    font-family: 'Montserrat';
    font-weight: normal;
}
.send-message{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    height: 50px;
    width: 200px;
    margin-top: 5%;
    border-radius: 25px;
}
.mail-sent{
    width: 500px;
    margin-left: 70%;
}

/* MEDIA QUERIES */ 
/*    MENOR WIDTH = 360PX      MENOR HEIGHT = 667PX */
@media (width <= 420px) and (height < 920px) {
    .container-center{
        width: 90vw;
        margin-top: 30%;
    }
    .container-center label {
        font-size: 20px;
        margin-bottom: 0px;
    }
    input{
        margin-bottom: 30px;
        height: 50px;
        width: 90vw;
        font-size: 16px;
    }
    
     textarea{
        font-size: 16px;
        width: 90vw;
        margin-top: 6px;
    }
    .mail-sent{
        width: 230px;
        height: 230px;
        margin-left: 30%;
        margin-top: 3%;
    }
    h1{
        margin-top: 20%;
        font-size: 23px;
        margin-bottom: 25%;
    }
}

/* -- TABLETS -- */
@media screen and (min-width: 668px) and (max-width: 1024px) {
    .container-center{
        width: 90vw;
        height: 1500px;
        margin-top: 40%;
        font-size: 50px;
    }
    .container-center label {
        font-size: 20px;
        margin-bottom: 0px;
    }
    input{
        margin-bottom: 30px;
        height: 60px;
        width: 90vw;
        font-size: 18px;
    }
    
     textarea{
        font-size: 18px;
        width: 90vw;
        margin-top: 6px;
    }
    .mail-sent{
        width: 580px;
        height: 580px;
        margin-left: 0;
        margin-top: 25%;
    }
    h1{
        font-size: 42px;
        margin-top: 25%;
        margin-bottom: 25%;
    }
}
