@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.img-logo{
    width: 130px;
    position: absolute;
    margin-top: -10px;
    margin-left: -400px;
}
nav{
    justify-content: center;
    display: flex;
}
.nav-item{
    width: 140px;
    text-align: center;
}
.socials{
    justify-content: space-between;
    display: flex;
    position: absolute;
    margin-top: -20px;
    margin-left: 200px;
    width: 180px;
    font-size: 22px;
}
.nav-link{
    color: #fff;
    font-family: 'MontSerrat';
    font-weight: normal;
    
}
.nav-link span{
    color: #3487ff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

/* MEDIA QUERIES */ 
/*    MENOR WIDTH = 360PX      MENOR HEIGHT = 667PX */
@media (width <= 420px) and (height < 920px) {
    .navbar-header{
        background-color: #000;
    }
    .me-auto {
        width: 100vw;
        align-items: center;
        justify-content: center;
        height: 250px;
        gap: 20px;
    }
    .socials{
        width: 100%;
        justify-content: center;
        gap: 20px;
    }
    .img-logo{
        margin-right: 0;
        align-items: center;
    }
    .nav-link{
        margin-left: -20px;
    }
    div.collapse.show.navbar-collapse{
        height: 300px;
        
    }
}

/* -- TABLETS -- */
@media (width <= 1100px) 
and (height >= 1000px ) {
    .navbar-header{
        background-color: #000;
    }
    .me-auto {
        width: 100vw;
        align-items: center;
        height: 250px;
        gap: 20px;
        background-color: #000;
    }
    .img-logo{
        width: 130px;
        margin-right: 120px;
    }
    .socials{
        width: 100%;
        justify-content: center;
        gap: 30px;
    }    
}