@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.img-logo{
    width: 130px;
    position: absolute;
    margin-top: -10px;
    margin-left: -400px;
}
nav{
    justify-content: center;
    display: flex;
}
.nav-item{
    width: 140px;
    text-align: center;
}
.socials{
    justify-content: space-between;
    display: flex;
    position: absolute;
    margin-top: -20px;
    margin-left: 200px;
    width: 180px;
    font-size: 22px;
}
.nav-link{
    color: #fff;
    font-family: 'MontSerrat';
    font-weight: normal;
    
}
.nav-link span{
    color: #3487ff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

/* MEDIA QUERIES */ 
/*    MENOR WIDTH = 360PX      MENOR HEIGHT = 667PX */
@media (width <= 420px) and (height < 920px) {
    .navbar-header{
        background-color: #000;
        width: 100vw;
    }
    .me-auto {
        width: 100vw;
        align-items: center;
        justify-content: center;
        height: 250px;
        gap: 20px;
    }
    .socials{
        position: relative;
        width: 100%;
        justify-content: center;
        gap: 20px;
        margin: 0;
    }
    .img-logo{
        position: relative;
        margin: 0;
        align-items: center;
    }
    .nav-link{
        margin-left: -20px;
    }
    div.collapse.show.navbar-collapse{
        height: 300px;
        
    }
}

/* -- TABLETS -- */
@media (min-width : 668px) and (max-width : 1023px) {
    nav{
        height: 5vh;
    }
    .navbar-header{
        background-color: #000;
        width: 100vw;
    }
    .me-auto {
        width: 100vw;
        align-items: center;
        height: 28vh;
        gap: 20px;
        background-color: #000000;
    }
    .img-logo{
        width: 130px;
        margin:0;
    }
    .socials{
        width: 100vw;
        justify-content: center;
        gap: 30px;
        margin-left: 0;
        position: relative;
        margin-top: -60px;
    }  
}  
    
    /* -- DESKTOPS */
    @media (min-width : 1024px) and (max-width : 1200px) {
        .navbar-header{
            width: 100vw;
            margin-top: -10px;
        }
        .me-auto {
            width: 100vw;
            align-items: center;
            height: 7vh;
            background-color: #000000;
        }
        .nav-item{
            width: 160px;
            display: flex;
            justify-content: center;
        }
        .nav-link{
            font-size: 15px;
        }
        .img-logo{
            width: 130px;
            margin:0;
            position: relative;
        }
        .socials{
            justify-content: center;
            gap: 20px;
            margin-left: -360px;
            position: relative;
            margin-top: -10px;
        }
}